#js-slideBox{
	display : none;
}
.btn{
	font-size : 20px;
	width : 300px;
	padding : 20px;
	cursor : pointer;
	text-align : center;
	text-decoration : none;
	color : #ffffff;
	background : #333333;
}
